* {
    box-sizing: border-box;
}

@import 'reset';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

$primary-color: #000;
$secondary-color: #fff;

html {

    &.dark {
        color: $secondary-color;
        background-color: $primary-color;

        .time {
            color: $secondary-color;
        }

        .circle {
            background-color: $secondary-color;
            color: $primary-color;
        }

        .center-point::after {
            background-color: $secondary-color;
        }

        button {
            background-color: $secondary-color;
            color: $primary-color;
        }

        .hour {
            background-color: $secondary-color;
        }

        .minute {
            background-color: $secondary-color;
        }



    }



    transition: all 0.5s ease-in;
}


body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-position: center center;
    background-size: cover;

}

.toggle {
    cursor: pointer;
    background-color: $primary-color;
    color: $secondary-color;
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 100px;

    &:focus {
        outline: none;
    }
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;

}

.needle {
    background-color: $primary-color;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: all 0.5s ease-in;

    &.hour {
        transform: translate(-50%, -100%) rotate(0deg);
    }

    &.minute {
        transform: translate(-50%, -100%) rotate(0deg);
        height: 100px;
    }

    &.second {
        transform: translate(-50%, -100%) rotate(0deg);
        height: 100px;
        background-color: #e74c3c;
    }
}

.center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point::after {
    content: '';
    background-color: $primary-color;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.time {
    font-size: 60px;
    margin-bottom: 20px;
}

.date {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;


    .circle {
        background-color: $primary-color;
        color: $secondary-color;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
        font-size: 12px;
    }
}