* {
    box-sizing: border-box;
}

@import 'reset';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


$left-bg : rgba(87, 84, 236, 0.7);
$right-bg : rgba(43, 43, 43, 0.8);
$left-btn-hover: rgba(87, 84, 236, 1);
$right-btn-hover: rgb(160, 24, 65);

$hover-width: 75%;
$other-width: 25%;

$speed: 1000ms;


body {
    font-family: 'Robot', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-color: steelblue;
    color: white;


}


.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 40px;
    border-radius: 5px;



}


form {
    width: fit-content;

}



.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;


}

h1 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 32px;

}

.btn {
    margin-bottom: 20px;

    cursor: pointer;
    display: inline-block;
    background: lightblue;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: none;

    &:focus {
        outline: 0;
    }


    &.active {
        transform: scale(0.98);
    }
}

a {
    text-decoration: none;
    color: lightblue;
}

input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: white;



    &:focus,
    :valid {
        outline: 0;
        color: lightblue;
        border-bottom-color: lightblue;



    }

}

label {
    position: absolute;
    top: 15px;
    left: 0;

    &:focus {
        color: lightblue;
    }

}

span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
}












.form-control {

    input:focus {


        transform: translateY(-30px);

    }

    span {
        &:valid {


            transform: translateY(-30px);

        }
    }
}