@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Robot", sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #eafbff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eafbff), color-stop(50%, #eafbff), color-stop(50%, #5290f9), to(#5290f9));
  background-image: linear-gradient(to bottom, #eafbff 0%, #eafbff 50%, #5290f9 50%, #5290f9 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.navigation {
  background-color: #fff;
  padding: 20px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: width 0.6s linear;
  transition: width 0.6s linear;
}
.navigation.active {
  width: 350px;
  -webkit-transition: width 0.6s linear;
  transition: width 0.6s linear;
}
.navigation.active ul {
  width: 100%;
}
.navigation.active li {
  opacity: 1;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}
.navigation.active .line1 {
  -webkit-transform: rotate(-765deg) translate(-5.5px);
          transform: rotate(-765deg) translate(-5.5px);
}
.navigation.active .line2 {
  -webkit-transform: rotate(765deg) translate(-5.5px);
          transform: rotate(765deg) translate(-5.5px);
}
.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  -webkit-transition: width 0.6s linear;
  transition: width 0.6s linear;
}
.navigation li {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  opacity: 0;
  -webkit-transition: opacity 0.6s linear, -webkit-transform 0.6s linear;
  transition: opacity 0.6s linear, -webkit-transform 0.6s linear;
  transition: transform 0.6s linear, opacity 0.6s linear;
  transition: transform 0.6s linear, opacity 0.6s linear, -webkit-transform 0.6s linear;
}
.navigation a {
  position: relative;
  color: black;
  text-decoration: none;
  margin: 0 10px;
}
.navigation .icon {
  background-color: white;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}
.navigation .icon:focus {
  outline: 0;
}
.navigation .icon .line {
  background-color: #5290f9;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  -webkit-transition: -webkit-transform 0.6s linear;
  transition: -webkit-transform 0.6s linear;
  transition: transform 0.6s linear;
  transition: transform 0.6s linear, -webkit-transform 0.6s linear;
}
.navigation .icon .line2 {
  top: auto;
  bottom: 10px;
}/*# sourceMappingURL=main.css.map */