* {
    box-sizing: border-box;
}

@import 'reset';


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    color: black;
    flex-direction: column;
}


canvas {
    border: 2px solid steelblue;
}

.toolbox {
    background-color: steelblue;
    border: 1px solid slateblue;
    display: flex;
    width: 804px;
    padding: 1rem;
    align-items: center;
    justify-content: center;



    &>* {
        background-color: white;
        border: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        margin: 0.25rem;
        padding: 0.25rem;
        cursor: pointer;
        font-size: 2rem;

    }

    &>*:last-child {
        margin-left: auto;
    }

}