* {
    box-sizing: border-box;
}

@import 'reset';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

    background-color: #f6f7fb;
}


.container {
    text-align: center;
    display: flex;
    flex-direction: column;

    &__progress {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        position: relative;
        width: 350px;

        margin-bottom: 20px;

        &::before {
            content: '';
            background-color: #e0e0e0;
            position: absolute;
            toP: 50%;
            left: 0;
            height: 4px;
            width: 100%;

            transform: translateY(-50%);
            z-index: -1;
            transition: .4s ease;

        }


    }




}



.progress {
    background-color: #3498db;
    position: absolute;
    toP: 50%;
    left: 0;
    height: 4px;
    width: 0%;

    transform: translateY(-50%);
    z-index: -1;
    transition: .4s ease;


    &__circle {
        background-color: #fff;
        color: #999;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid #e0e0e0;
        transition: .4s ease;


    }
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.active {
    border-color: #3498db;
}

.btn {
    background-color: #3498db;
    color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    font-size: 14px;


    &:active {
        transform: scale(0.98);
    }

    &:focus {
        outline: 0;
    }

    &:disabled {
        background-color: grey;
        cursor: not-allowed;

        &:active {
            transform: scale(1);
        }
    }

}