* {
    box-sizing: border-box;
}

@import 'reset';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


body {
    font-family: 'Robot', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;

    background-color: rgba(161, 100, 233);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;


}

.btn {
    border: 1px solid black;
    padding: 10px 30px;
    cursor: pointer;
    color: white;
    background-color: rebeccapurple;
    border-radius: 5px;
    text-transform: uppercase;


}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}